{% extends 'base.html.twig' %}

{% block title %}Mon Super blog{% endblock %}

{% block body %}

    <div class="row">
        
        <div class="col-12">
            <h2>Bienvenue sur mon blog!</h2>
        </div>

        <div class="col-12">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro sint, expedita rem corrupti enim reprehenderit est aspernatur sed? Architecto eligendi rerum assumenda beatae, sapiente quaerat quas suscipit vitae facere corrupti magni praesentium recusandae perspiciatis ducimus facilis. Ea repellendus voluptatum totam!</p>
        </div>

    </div>

{% endblock %}