{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="row pt-5 border-bottom-0">
        
        <div class="col-12">
            <h2>{{ title }}</h2>
        </div>
    </div>

    <div class="row">
        {{ form( form ) }}
    </div>

{% endblock %}